body {
  margin: 0;
  padding: 10px;
  background: #080808;
  color: #FFFFFF;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 24px;
}

.splitflap {
  margin: 0 auto;
  -webkit-perspective-origin: top;
  -moz-perspective-origin: top;
  -ms-perspective-origin: top;
  perspective-origin: top;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}

#dashboard {
  display: block;
  overflow: hidden;
  text-align: center;
}

#dashboard > div {
  padding: 1em;
  background: #150431;
}

#firstSection,
#secondSection,
#thirdSection {
  display: inline-block;
}

#firstSection .splitflap,
#secondSection .splitflap,
#thirdSection .splitflap{
  margin-bottom: 5px;
}

.flight-board-header {
  margin-bottom: 1em;
}

.heading {
  width: 60%;
  float: left;
}

.header-icon {
  padding-left: 0.5%;
  width: 19.5%;
  float: left;
}

.header-icon img {
  transform:          rotate(75deg);
  -ms-transform:      rotate(75deg);
  -moz-transform:     rotate(75deg);
  -webkit-transform:  rotate(75deg);
  -o-transform:       rotate(75deg);

  width: 2em;
}

.header-time {
  float: left;
  width: 20%;
}

.cleared::after {
  clear: both;
  content: "";
  display: table;
}